a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../anh1/bg_sec1.jpg");
    background-size: cover;
}

.menu {
    text-align: center;
    height: 67px;
    background-color: #CC0000;
}

.menu li {
    display: inline-block;
    padding: 20px 3px;
    /* text-transform: uppercase; */
}

.menu img {
    margin: 15px;
}

.input-group {
    margin: 15px;
}

.btn {
    background-color: #e10404;
    border-radius: 15px;
    color: white;
}
.btn:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.container {
    /*    margin-top: 10px;*/
    /*margin-bottom: 100px;*/
}

.col-2 {
    width: 13%;
}

.footer {
    margin-top: 10px;
    font-size: 15px;
    padding-top: 20px;
    height: 150px;
    background-color: #e8e8e0;
}

.col-3 {
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    width: 23%;
    margin-left: 21px;
}

.col-3 {
    transform: scale(1.0);
}

.col-3:hover {
    transform: scale(1.1);
}

#backtop {
    width: 50px;
    height: 50px;
    background: #CC0000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}

.slice {
    --bs-gutter-x: 0px;
    margin-bottom: 10px;
}

.layer {
    padding-bottom: 20px;
    padding-top: 20px
}

.product-info-container {
    border-radius: 20px;
    background-color: #fff;
}

.row {
    --bs-gutter-x: 0rem;
}

.col-1 {
    width: 3%;
}

.col {
    text-align: left;
}

.ccc {
    width: 324px;
}

.abc {
    width: 99%;
}

.form-control-sm {
    /* height: 54px; */
    border-radius: 4px;
    font-size: 15px;
    box-shadow: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid #e6eaf3;
    background-clip: initial;
    margin: 10px 10px;
}

.zzz {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.col-8 {
    background-color: #fff;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.banner__content {
    margin-top: 20px;
}

.cttt {
    margin-top: 20px;
}

.card-body {
    background-color: #bc1b1b;
    border-radius: 10px;
}

.list-group {}

.btn-block {
    margin-left: 235px;
}
.ccach{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cach{
    margin-bottom: 5px;
    text-align: inherit;
}